<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vito.igra" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Uvod"
            android:label="@string/title_activity_uvod" >
        </activity>
        <activity
            android:name=".Uvod2"
            android:label="@string/title_activity_uvod2" >
        </activity>
        <activity
            android:name=".Liki"
            android:label="@string/title_activity_liki" >
        </activity>
        <activity
            android:name=".Liki2"
            android:label="@string/title_activity_liki2" >
        </activity>
        <activity
            android:name=".Podobnost"
            android:label="@string/title_activity_podobnost" >
        </activity>
        <activity
            android:name=".Podobnost2"
            android:label="@string/title_activity_podobnost2" >
        </activity>
    </application>

</manifest>
